.footer {
    display: flex;
    justify-content: space-around;
}
.copyright {
    display: flex;
    align-items: center;
}
.img-one {
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
}
.img-two {
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
}